<div class="container-fluid">
  <h1 class="text-center title text-info ">All Cars</h1>
  <div class="form-group col-md-4 m-2 mb-4">
    <h5 class="ml-3">Filter Cars</h5>
    <form [formGroup]="filterForm">
      <select formControlName="filterControl" class="form-control">
        <option [value]="filter" *ngFor="let filter of filters">{{filter}}</option>
      </select>
    </form>
  </div>
  <div class="container-fluid">
    <app-cars-list [cars]="filteredCars"></app-cars-list>
  </div>
</div>
