<div class="heading">
  <h1 class="text-info">
    Welcome to {{title}}!
  </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form [formGroup]="checkAddressForm" (ngSubmit)="getAddressCars()">
        <legend>Enter address to check which cars belong to it</legend>
        <div class="form-group row">
          <label for="address" class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <input 
              type="text"
              class="form-control"
              id="address"
              formControlName="address"
              [ngClass]="{ 'is-invalid': address.touched && address.errors }"
              placeholder="0x...">
              <div *ngIf="address.errors" class="invalid-feedback">
                <div *ngIf="address.errors.required">
                  Address is required.
                </div>
                <div *ngIf="address.errors.pattern">
                  Address should start with '0x' and should be exactly 42 symbols long.
                </div>
              </div>
          </div>
        </div>
        <input type="submit" class="btn btn-info" value="Check" [disabled]="checkAddressForm.invalid" />
      </form>
    </div>
  </div>
  <div *ngIf="cars" class="mt-5">
    <div class="address-spent text-center mb-5">
      <h5 class="text-info">Total amount spent by the address: {{addressTotalMoneySpent}} ETH</h5>
    </div>
    <app-cars-list [cars]="cars"></app-cars-list>
  </div>
</div>
