<div class="heading">
  <h1 class="text-info">
    Welcome to {{title}}!
  </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="checkAddressForm" (ngSubmit)="getAddressCars()">
        <legend>Enter address to check which cars belong to it</legend>
        <div class="form-group row">
          <label for="address" class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <input 
              type="text"
              class="form-control"
              id="address"
              formControlName="address"
              [ngClass]="{ 'is-invalid': address.touched && address.errors }"
              placeholder="0x...">
              <div *ngIf="address.errors" class="invalid-feedback">
                <div *ngIf="address.errors.required">
                  Address is required.
                </div>
                <div *ngIf="address.errors.pattern">
                  Address should start with '0x' and should be exactly 42 symbols long.
                </div>
              </div>
          </div>
        </div>
        <input type="submit" class="btn btn-info" value="Check" [disabled]="checkAddressForm.invalid" />
      </form>
      <div class="cars-table" *ngIf="cars">
        <div class="bs-component" *ngIf="cars.length > 0; else notFound">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Is Second-Hand</th>
              </tr>
            </thead>
            <tbody *ngFor="let car of cars">
              <tr>
                <th scope="row">{{car._carMake}}</th>
                <td>{{car._carModel}}</td>
                <td>{{ethers.utils.formatEther(car._carPrice)}} ETH</td>
                <td>{{car._isSecondHand ? 'Yes' : 'No'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="address-spent">
          <h5 class="text-info">Total amount spent by the address: {{addressTotalMoneySpent}} ETH</h5>
        </div>
      </div>
      <ng-template #notFound>
        <h3 class="text-warning">The given address does not own any cars currently :(</h3>
      </ng-template>
    </div>
  </div>
</div>
